@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;

}

.Home,.Destinations,.Feedback {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.home-background {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.title {
  margin: 5px;
  color: rgb(255, 255, 255);
  text-align: center;
}



.buttons .btn {
  margin-right: 16px;

}

.title > h2 {
  margin-top: -200px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100px;
  font-weight: 500;
}

.title > p {
  font-weight: 400;
  font-size: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

@media screen and (max-width: 1400px) {
  .buttons .btn {
    margin-right: 16px;
  
  }
  
  .title > h2 {
    margin-top: -200px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
    font-weight: 500;
  }
  
  .title > p {
    font-weight: 400;
    font-size: 50px;
    margin-left: 200px;
    margin-right: 200px;
  }
  
}


@media screen and (max-width: 960px) {

  .buttons .btn {
    margin-right: 16px;
  
  }
  
  .title > h2 {
    margin-top: -250px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 90px;
    font-weight: 500;
  }
  
  .title > p {
    font-weight: 400;
    font-size: 45px;
    margin-left: 150px;
    margin-right: 150px;
  }
}


@media screen and (max-width: 768px) {
  .title {
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .buttons .btn {
    margin-right: 16px;
  }
  
  .title > h2 {
    margin-top: -200px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    font-weight: 500;
  }
  
  .title > p {
    font-weight: 400;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
  }
}



.destinations-container {
  background-color: rgb(197, 197, 197);
  height: 100vh;
  width: 100%;
}


.destinations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: .90; /* Set the opacity for a slightly transparent Google Form */
  color: white;
  background: black;
  position: relative;
  z-index: 99;
  
}

.destinations-content {
  display: grid;
  border-style: solid;
  border-radius: 1rem;
  background-color: rgb(175, 175, 175);
  align-items: center;
  justify-content: center;
  margin-top: -450px;
  padding: 1rem;
  overflow: hidden;
  max-width: 10rem;
  max-height: 0;
  transition: max-width 0.8s ease-in, max-height 0.8s ease-in; /* Opening transition */
  transform: translate(0, 50%);
}


.destinations-content.active {
  overflow: hidden;
  max-width: 100%;
  max-height: 500px;
}

.expand{
  opacity: 0;
  transform: translate(0%, -25%);
}

.expand.active{
  transition: opacity, ease-in-out;
  transition-delay:0.5s;
  opacity: 100;
}

.destinations-title{
  transition: opacity 0.7s ease;
  transition-delay: 0.4s;
  opacity: 0;
  margin: 5px;
}

.destinations-title.active {
  transition: opacity 0.7s ease;
  opacity: 100;
  color: rgb(255, 255, 255);
  
}

.destination-buttons .btn{
  margin-right: 16px;
  margin-bottom: 32px;
  color: black;
  
}


.destinations-title > h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100px;
  font-weight: 500;
}

.map1{
  height: 0;
  width: 0;
}

.map1.active {
  height: 100vh;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.pins.pin{
  opacity: 0;
}


.home-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.home-container.loaded {
  opacity: 1;
}